<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments/config :: configFragment"></head>
    <body id="page-top">
        <header th:replace="fragments/header :: headerFragment"></header>
        <div id="wrapper" >
        <ul th:replace="fragments/side-bar :: sidebarFragment"></ul>
        <div layout:fragment="content"></div>
        </div>
    </body>
    <footer th:replace="fragments/footer :: footerFragment"></footer>
    <div th:replace="fragments/js-config :: jsConfigFragment"></div>
</html>