<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Forgot_Password</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/bootstrap/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link th:href="@{/bootstrap/css/sb-admin.css}" rel="stylesheet">


</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
          <p th:if="${param.error}">Invalid user id or email.</p>
        </div>
        <form th:action="@{/reset-password}" method="post">
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="userId" name="userId" class="form-control" placeholder="Enter user id" required="required" autofocus="autofocus">
              <label for="userId">Enter user id</label>
            </div>
            <div class="form-label-group">
              <input type="email" id="userEmail" name="userEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="userEmail">Enter email address</label>
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Reset Password">
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" th:href="@{/login}">Login Page</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

</body>

</html>
