<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
    <title>somoim - Member-Register</title>
</head>

<body class="bg-dark">
<div class="container" layout:fragment="content">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form id="registerForm">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="memberName" name="memberName" class="form-control" placeholder="NAME" required="required" autofocus="autofocus">
                  <label for="memberName">NAME</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="memberNickName" name = "memberNickName" class="form-control" placeholder="NICK NAME" required="required">
                  <label for="memberNickName">NICK NAME</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
                <input type="text" id="testDatepicker" class="form-control" name="memberJoinDate" placeholder="Member Join Date" required="required">
              <label for="testDatepicker">Member Join Date</label>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block" id="registerButton">Register</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login.html">Login Page</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
<th:block layout:fragment="script">

<script th:inline="javascript" type="text/javascript">
      //script구문 내부에 해당 메소드를 입력합니다.
      $(function() {
          $( "#testDatepicker" ).datepicker({
              dateFormat: 'yy-mm-dd'
          });


         $('#registerButton').bind("click",function () {
             var url="/member";
             var param =  $("#registerForm :input").filter(function(idx,element){
                 return $(element).val() !='';
             }).serialize();

             alert(param);
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");
             $.ajax({
                 type : "POST"
                 , url : url
                 , data : param
                 ,beforeSend : function(xhr)
                 {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                     xhr.setRequestHeader(header, token);
                 }
                 , error : function(jqXHR, textStatus, errorThrown) { // jqXHR : xml http request object, textStatus : Jquery status code, errorThrown : exception object
/*
                     callback(jqXHR.responseJSON, jqXHR);
*/
                    alert(jqXHR.status);
                 }
                 , success : function(data, textStatus, jqXHR){ // data : server response data, textStatus : Jquery status code, jqXHR : xml http request object
/*
                     callback(data, jqXHR);
*/
                    alert(jqXHR.status);
                 }
             });
             return false;
         })

      });
  </script>
</th:block>
</body>
</html>
